{#ManageJobApplications/templates/job_profile/update_job_profile.html#}
{% extends urls_paths.base_html %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Update Job Profile{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="panel-body" id="content-panel">
        <div class="panel col-sm-12 col-xs-12">
            <!-- Update Job Profile Form -->

            <h3 class="card-title">Update Job Profile</h3>

            <form class="panel slide" method="post" action="{% url urls_paths.update_job_profile.redirect user_id=user.pk job_profile_id=job_profile.pk %}">
                {% csrf_token %}
                <div class="panel-body">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {{ form|crispy }}

                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="row"><br>
                        <div class="col-sm-12 form-group text-center">
                            <button class="btn btn-default" type="submit">Update Job Profile</button>
                            <a href="{% url urls_paths.job_profile_list.redirect user_id=user.pk %}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
