{#ManageAccounts/templates/signup.html#}

{% extends urls_paths.base_html %}
{% load crispy_forms_filters %}
{% block title %}Signup{% endblock %}

{% block content %}
<!-- Container (Signup Section) -->
<div class="container-fluid">
    <div class="col-sm-12 col-xs-12">
        <div id="content-panel">

            <form class="panel slide" method="post" action="{% url urls_paths.signup.redirect %}" >
                {% csrf_token %}
                <div class="panel-body">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {{ form|crispy }}

                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="row"><br>
                        <div class="col-sm-12 form-group text-center">
                            <button class="btn btn-default" type="submit">Sign Up</button>
                            <a href="{% url urls_paths.index.redirect %}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
