{#ManageJobApplications/templates/application/application_details.html#}
{% extends urls_paths.base_html %}

{% block title %}
    {{ application.job_title }} at {{ application.company_name }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <article class="card">
                <header class="card-header text-center">
                    <h1 class="card-title">{{ application.job_title }} at {{ application.company_name }}</h1>
                </header>
                <div class="card-body">
                    <section>
                        <h2>Job Application Details</h2>
                        <p>
                            {% if application.company_name %}
                                This job posting is from {{ application.company_name }}.
                            {% else %}
                                This job posting is missing the name of the employer.
                            {% endif %}

                            The advertised position is
                            {% if application.job_title %}
                                {{ application.job_title }}.
                            {% else %}
                                not specified.
                            {% endif %}

                            The job ID for this job posting is
                            {% if application.job_id %}
                                {{ application.job_id }}.
                            {% else %}
                                not provided.
                            {% endif %}
                            The address associated with this job posting is
                            {% if application.location %}
                                {{ application.location }}.
                            {% else %}
                                not specified. Applicant can do further research and add it manually.
                            {% endif %}

                            {% if application.application_deadline %}
                                The application deadline is {{ application.application_deadline }}.
                            {% else %}
                                The application deadline is not specified, applicants should inquire for details.
                            {% endif %}

                            {% if application.job_type %}
                                This is a {{ application.job_type }} position.
                            {% else %}
                                The job type is unspecified; please consult the job posting for more information.
                            {% endif %}

                            {% if application.visa_sponsorship %}
                                Visa sponsorship is {{ application.visa_sponsorship }}.
                            {% else %}
                                Visa sponsorship information is not provided. We encourage applicants to consult the job posting for more information.
                            {% endif %}

                            {% if progress_status.interest_level %}
                                The interest level in this position is {{ progress_status.interest_level }} but can be updated as deemed fit by the applicant.
                            {% else %}
                                The interest level is unspecified.
                            {% endif %}

                            {% if progress_status.application_status %}
                                The current application status is {{ progress_status.application_status }}.
                            {% else %}
                                The application status is not specified.
                            {% endif %}
                        </p>
                    </section>

                    <section class="non-editable-textarea wrap-text">
                        <h2>Job Posting Summary</h2>
                        {% if application.job_posting_summary %}
                            <div>{{ application.job_posting_summary|linebreaks }}</div>
                        {% else %}
                            <p>Summary missing</p>
                        {% endif %}
                        {% if application.job_posting_urls %}
                            <h4><strong>Job Posting URL:</strong>
                                <a href="{{ application.job_posting_urls }}" target="_blank">{{ application.job_posting_urls|truncatechars:100 }}</a>
                            </h4>
                        {% else %}
                            <h4><strong>Job Posting URL:</strong> URL for this job posting is missing. Applicants are encouraged to manually add the URL link for easy reference.</h4>
                        {% endif %}
                    </section>

                    <section>
                        <h2>Resume Analysis</h2>
                        <h4><strong>Uploaded Resume:</strong>
                        {% if uploaded_resume %}
                            Here is the link for you to download the original resume you submitted:<br>
                            <a href="{{ uploaded_resume.file.url }}" download="{{ uploaded_resume.file.name }}">{{ uploaded_resume_file_name }}</a>.
                        {% else %}
                            Uploaded resume missing
                        {% endif %}
                        </h4>
                        <div>
                            <p><strong>Analysis:</strong></p>
                            {% if resume %}
                                <div>{{ resume.assistant_observation|linebreaks }}</div>
                                <a href="{% url urls_paths.resume_details.redirect application_id=application.pk resume_id=resume.id %}" title="Resume">Learn More</a>
                            {% else %}
                                <p>Resume Analysis missing</p>
                                <a href="{% url urls_paths.add_resume_auto.redirect application_id=application.pk %}" title="Add Resume">
                                    <i class="bi bi-plus-circle"></i> Add Resume
                                </a>

                            {% endif %}
                        </div>
                    </section>

                    <section>
                        <!-- Uploaded Cover Letter Section -->
                        <h2>Cover Letter Analysis</h2>
                        <h4><strong>Uploaded Cover Letter:</strong>
                            {% if uploaded_cover_letter and uploaded_cover_letter.file %}
                                Here is the link for you to download the original cover letter you submitted:<br>
                                <a href="{{ uploaded_cover_letter.file.url }}" download="{{ uploaded_cover_letter.file.name }}">{{ uploaded_cover_letter_file_name }}</a>.
                            {% else %}
                                Uploaded cover letter missing
                            {% endif %}
                        </h4>

                        <div>
                            <p><strong>Analysis:</strong></p>
                            {% if cover_letter %}
                                <div>{{ cover_letter.assistant_observation|linebreaks }}</div>
                                <a href="{% url urls_paths.cover_letter_details.redirect application_id=application.pk cover_letter_id=cover_letter.id %}" title="Cover Letter">Learn More</a>
                            {% else %}
                                <p>Cover Letter Analysis missing</p>
                                <a href="{% url urls_paths.add_cover_letter.redirect application_id=application.pk %}" title="Add Cover Letter">
                                    <i class="bi bi-plus-circle"></i> Add Cover Letter
                                </a>
                            {% endif %}
                        </div>
                    </section>

                    <section>
                        <h2>Communications</h2>
                        <p><strong>Summary:</strong></p>
                        {% if communication and communication.communication_summary %}
                            <div>{{ communication.communication_summary|linebreaks }}</div>
                            <a href="{% url urls_paths.communication_details.redirect application_id=application.id communication_id=communication.pk %}" title="Communication">Learn More</a>
                        {% else %}
                            <p>Communication summary missing</p>
                            <a href="{% url urls_paths.add_communication.redirect application_id=application.pk %}" title="Add Communications">
                                    <i class="bi bi-plus-circle"></i> Add Communications
                            </a>
                        {% endif %}
                    </section>

                    <section>
                        <h2>Follow-Up Message</h2>
                        <p><strong>Details:</strong></p>
                        {% if follow_up_message %}
                            <div>
                                <p><strong>Subject:</strong> {{ follow_up_message.follow_up_message_subject|default:"N/A" }}</p>
                                <p><strong>Created on:</strong> {{ follow_up_message.created_at|default:"N/A" }}</p>
                                <p><strong>Receiver's Email:</strong> {{ follow_up_message.receivers_email|default:"N/A" }}</p>
                                <p><strong>Scheduled Send Date:</strong> {{ follow_up_message.scheduled_send_date|default:"N/A" }}</p>
                                <p><strong>Message:</strong></p>
                                <div>{{ follow_up_message.follow_up_message|linebreaks }}</div>
                                <a href="{% url urls_paths.follow_up_message_details.redirect application_id=application.id follow_up_message_id=follow_up_message.pk %}" title="Follow-Up Message">Learn More</a>
                            </div>
                        {% else %}
                            <p>Details missing</p>
                            <a href="{% url urls_paths.add_follow_up_message.redirect application_id=application.pk %}" title="Add Follow-up-Message">
                                    <i class="bi bi-plus-circle"></i> Add Follow-up-Message
                            </a>
                        {% endif %}
                    </section>
                </div>
            </article>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="manage-application-modal" tabindex="-1" role="dialog" aria-labelledby="manage-application-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-center" id="manage-application-modal-label">Manage Application</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- Application Details CRUD Buttons -->
                    {% include urls_paths.application_details_crud.render %}
                    <!-- Application CRUD Buttons -->
                    {% include urls_paths.application_crud.render %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
