{#ManageJobApplications/templates/follow_up_message/update_follow_up_message.html#}
{% extends urls_paths.base_html %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Update Follow-up Message{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="panel-body" id="content-panel">
        <div class="panel col-sm-12 col-xs-12">
            <!-- Update Follow-up Message Form -->
            <div class="text-center">
                <h3 class="panel-title">Update Follow-up Message</h3>
            </div>

            <form class="panel slide" method="post" action="{% url urls_paths.update_follow_up_message.redirect application_id=application.pk follow_up_message_id=follow_up_message.pk %}">
                {% csrf_token %}
                <div class="panel-body">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {{ form|crispy }}

                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="row"><br>
                        <div class="col-sm-12 form-group text-center">
                            <button class="btn btn-default" type="submit">Update Follow-up Message</button>

                            <a href="{% url urls_paths.follow_up_message_list.redirect application_id=application.pk %}" class="btn btn-default">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
