{#ManageAccounts/templates/password/forgotten_password_recovery/password_reset_done.html#}
{% extends urls_paths.base_html %}
{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default text-center" id="content-panel">
            <h3 class="card-title">Password Reset Sent</h3>
            <p>We have sent you an email with instructions on how to reset your password.</p>
        </div>
    </div>
</div>
{% endblock %}
