{#ManageAccounts/templates/password/forgotten_password_recovery/password_reset_confirm.html#}
{% extends urls_paths.base_html %}
{% load crispy_forms_filters %}
{% block title %}Confirm Password Reset{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default" id="content-panel">
            <h3 class="card-title">Enter New Password</h3>
            <form class="panel slide" method="post" action="">
                {% csrf_token %}
                <div class="panel-body">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {{ form|crispy }}

                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ field.label }}: {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="row"><br>
                        <div class="col-sm-12 form-group text-center">
                            <button class="btn btn-default" type="submit">Save New Password</button>
                            <a href="{% url urls_paths.index.redirect %}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

