{% extends urls_paths.base_html %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Add Application Credential{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="panel-body" id="content-panel">
        <div class="panel col-sm-12 col-xs-12">
            <!-- Add Application Credential Form -->
            <h3 class="card-title">
                Add Credential for {{ application.company_name }} Account
            </h3>

            <h1>
                Suggested Credentials:
            </h1>

            <h4>
                username: {{ user.email }}<br>
                Password 1: {{ password1 }}<br>
                Password 2: {{ password2 }}
            </h4>

            <form class="panel slide" method="post" action="{% url urls_paths.add_application_credential.redirect application_id=application.pk %}">
                {% csrf_token %}
                <div class="panel-body">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {{ form|crispy }}

                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="row"><br>
                        <div class="col-sm-12 form-group text-center">
                            <button class="btn btn-default" type="submit">Add Credential</button>

                            <!-- Go Back Button -->
                            <a href="{% url urls_paths.application_credentials_list.redirect application_id=application.pk %}" class="btn btn-default" title="Go Back">
                                Go Back
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
