{#ManageJobApplications/templates/application_credentials/application_credentials_list.html#}
{% extends urls_paths.base_html %}
{% block title %}Credentials List{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="panel-body" id="content-panel">
        <div class="panel col-sm-12 col-xs-12">
            {% if credentials %}
            <div class="table-responsive">
                <h3 class="card-title">Credentials at {{ application.company_name }}</h3>
                <table class="table table-striped" id="myTable">
                    <thead>
                        <tr class="header text-center">
                            <th>#</th>
                            <th>Username</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for credential in credentials %}
                        <tr class="objects-row clickable-row" onclick="window.location.href='{% url urls_paths.application_credential_details.redirect application_id=application.pk credential_id=credential.pk %}'">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ credential.username }}</td>
                            <td>{{ credential.created_at }}</td>
                            <td>
                                <a href="{% url urls_paths.application_credential_details.redirect application_id=application.pk credential_id=credential.pk %}" title="Edit Credential">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="notFound" class="text-center" style="display: none;">
                <h4>No matching records found.</h4>
            </div>
            {% else %}
            <div class="text-center">
                <h3>No credentials available.</h3>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
