{#ManageJobApplications/templates/application_credentials/manage_application_credentials_buttons.html#}
{% if not credentials_details_mode %}
    <a href="{% url urls_paths.application_credential_details.redirect application_id=application.pk credential_id=credential.pk %}" class="btn btn-lg btn-info" title="View Credential Details">
        <i class="bi bi-info"></i> Details
    </a>
{% endif %}

<a href="{% url urls_paths.update_application_credential.redirect application_id=application.pk credential_id=credential.pk %}" class="btn btn-lg btn-info" title="Edit Credential">
    <i class="bi bi-pencil-square"></i> Edit
</a>

<a href="{% url urls_paths.delete_confirmation_application_credential.redirect application_id=application.pk credential_id=credential.pk %}" class="btn btn-lg btn-danger" title="Delete Credential">
    <i class="bi bi-trash"></i> Delete
</a>
