<!-- templates/helper_templates/services.html -->
{% extends urls_paths.base_html %}
{% block title %}Pricing{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="panel-body" id="content-panel">
        <div class="panel col-sm-12 col-xs-12">
            <!-- Container (Pricing Section) -->
            <div id="services" class="container-fluid text-center">
                <h2>SERVICES</h2>
                <h4>What We Offer</h4>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-tasks logo-small"></span>
                        <h4>Application Tracking</h4>
                        <p>Streamline your job application process with our comprehensive tracking system that keeps all your applications organized and easily accessible.</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-folder-open logo-small"></span>
                        <h4>Document Management</h4>
                        <p>Manage all your job-related documents, including resumes, cover letters, and follow-up emails, in one centralized location.</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-envelope logo-small"></span>
                        <h4>Automated Follow-Ups</h4>
                        <p>Never miss a follow-up with our automated email reminders, ensuring you stay connected and engaged with potential employers.</p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-calendar logo-small"></span>
                        <h4>Deadline Alerts</h4>
                        <p>Stay on top of your application deadlines with timely alerts that help you manage your time effectively and submit applications on time.</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-stats logo-small"></span>
                        <h4>Progress Reports</h4>
                        <p>Monitor your job application progress with detailed reports and analytics, giving you insights into your job search efforts and success rates.</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-lock logo-small"></span>
                        <h4>Password Storage</h4>
                        <p>Securely store and manage passwords for the company sites you've signed up on, ensuring easy access and enhanced security for your job application process.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}